
html, body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#title {
	box-sizing: border-box;
	width: 300px;
	padding-left: 10px;
	background-color: #ccd7e0;
	margin: 0;
}

h1 {
  font-family: "Arial Black", Gadget, sans-serif;
  color: #595959;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-bottom: 0;
}

ul {
	margin: 0;
	padding: 10px;
}

ul {
	padding: 0;
	list-style-type: none;
}

li {
	box-sizing: border-box;
  width: 100%;
  color: #003333;
  font-weight: 600;
	padding: 8px 15px;
	background-color: #eaeff4;
	border-bottom: 1px solid #a9bcca;
}

li span {
	font-size: 20px;
	float: right;
  cursor: pointer;
}

#content {
	width: 300px;
}

#inputField {
	height: 20px;
} 
#btn {
	height: 25px;
	background-color: #0096aa;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

#inputBox {
	background-color: #ccd7e0;
	padding-top: 3vh;
	text-align: center;
	padding-bottom: 40px;
}
#error {
	text-align: left;
	padding-left: 10px;
	color: #a74b59;
}
