
<section class="container">

  <welcome-task
    add-me="list.addMe"
    items="list.items">
  </welcome-task>

  <display-task 
    items="list.items" 
    on-remove="list.removeItem(index)"
    on-check="list.checkItem(index)"
    on-uncheck="list.unCheckItem(index)"
    on-edit="list.edit(index)">
  </display-task>

  <manage-task 
    error="list.error"
    number-of-tasks="{{list.numberOfTasks}}"
    on-undo="list.undo()"
    on-clear="list.clear()"
    on-add="list.addItem()">
  </manage-task>

</section>

