
<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Task App </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/main2.css"> 

    <script src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet"> 
    
	
  </head>

  
  <body ng-app="MyApp">

    <div id="myCtrl" class="container" ng-controller="TaskCtrl as list">
      <section id="title">
        <h1>To-do List</h1>
        <div class="input-area">
          <i class="glyphicon glyphicon-menu-down"></i>
          <input id="inputField" type="text" class="form-control" placeholder="Enter a task" ng-model="list.addMe">
        </div>
      </section>
	  
      <section id="content">
        <ul id="list">
          <li ng-repeat="x in list.items">
            <span class="glyphicon glyphicon-ok-circle" ng-click="list.removeItem($index)" ></span>
            {{ x }} 
            <span class="glyphicon glyphicon-remove-circle" ng-click="list.removeItem($index)" ></span>
          </li>
        </ul>
        <div id="inputBox">
          
          <button class="btn btn-default" id="btn2" ng-click="list.addItem()">Add</button>
          <button class="btn btn-default" id="btn1" ng-click="list.clear()">Clear</button>
          <button class="btn btn-default" id="btn3" ng-click="list.undo()">Undo</button>
          <div class="form-group message">
           <p id="error">{{ list.errorMessage}} </p>
          </div>
          
        </div> 
      </section>

    </div> <!-- Closes TaskCtrl -->
    
  </body>
</html>