#title h1{
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3.5em;
}

/* enable absolute positioning */
.input-area { 
    position: relative; 
}
/* style icon */
.input-area .glyphicon {
  position: absolute;
  pointer-events: none;
  padding: 8px 10px;
  font-size: 1.2em;
  left:  0px;
  color:  #C7C7CD;
}
/* add padding  */
.input-area input  { 
  padding-left:  35px;
  font-size: 1.2em; 
  border-radius: 0;
  border-bottom: solid 1px #a9bcca;
}


ul {
  padding: 0;
  list-style-type: none;
}

li {
    color: #003333;
	padding: 8px 15px;
	background-color: #eaeff4;
	border: 1px solid #a9bcca;
}

li span {
	font-size: 20px;
  font-weight: bold;
	float: right;
  cursor: pointer;
  color: #ff8080;
}