
body{
  font-family: 'Josefin Sans', sans-serif;
}

h1{
  text-align: center;
  font-size: 10vw;
}

/* enable absolute positioning */
.input-area { 
  position: relative; 
}
/* style icon */
.input-area .glyphicon {
  position: absolute;
  pointer-events: none;
  padding: 2vw 2vw;
  font-size: 5vw;
  color:  #C7C7CD;
}
/* add padding  */
.input-area input  { 
  padding-left:  10vw;
  border-radius: 0;
  border-bottom: solid 1px #a9bcca;
}
#inputField{
  height: 10vw;
  font-size: 5vw;
}

/* Lists */
ul {
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}
li {
  word-break: break-all;
  color: #003333;
  padding: 2vw 2vw;
  background-color: #eaeff4;
  border: 1px solid #a9bcca;
  font-size: 5vw;
}
li i {
  font-size: 5vw;
  font-weight: bold;
  cursor: pointer;
}
li i:first-child {
  color: green;
  padding-right: 3vw;
}
li i:nth-child(2) {
  float: right;
  color: red;
}

/*Bottom buttons */
#inputBox{
  height: 15vw;
  font-size: 5vw;
  margin-top: 0;
  padding: 2vw 2vw 0;
  border: 1px solid #a9bcca;
}
#display{
  font-size: 5vw;
  padding: 2vw 2vw 0;
}
.btn {
  height: 10vw;
  text-decoration: none;
  margin-left: 2vw;
  font-size: 5vw;
}
.btn:active, .btn:focus {
  outline: none;
  background-color: white;
}
#btn1:hover{
  background-color: #00cc66;
  color: white;
}
#btn3:hover{
  background-color: #ff4d4d;
  color: white;
}
#btn2:hover{
  background-color: #e67300;
  color: white;
}

/* Screen Size */

/********** Large devices only **********/
@media (min-width: 1200px) {
  #title h1{
    font-size: 10vmin;
  }
  /* style icon */
  .input-area .glyphicon {
    padding: 2vmin 2vmin;
    font-size: 5vmin;
  }
  /* add padding  */
  .input-area input  { 
    padding-left:  10vmin;
  }
  #inputField{
    height: 10vmin;
    font-size: 5vmin;
  }

  /* Lists */
  li {
    padding: 2vmin 2vmin;
    font-size: 5vmin;
  }
  li i {
    font-size: 5vmin;
  }
  li i:first-child {
    padding-right: 3vmin;
  }
/*Bottom buttons */
  #inputBox{
    height: 15vmin;
    font-size: 5vmin;
    padding: 2vmin 2vmin 0;
  }
  #display{
    font-size: 5vmin;
    padding: 2vmin 2vmin 0;
  }
  .btn {
    height: 10vmin;
    margin-left: 2vmin;
    font-size: 5vmin;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (min-width: 480px)and (max-width: 767px) {

}

/********** Super extra small devices Only (e.g., iPhone 4) **********/
@media (max-width: 479px) {

}